<div class="in_footer">
    <p class="in_footer_link">
        <a href="__MODULE__/About/introduce">关于我们</a>
        <a href="__MODULE__/Other/contact">联系我们</a>
        <a href="__MODULE__/Other/partner">合作伙伴</a>
        <a href="__MODULE__/Other/declaration">法律声明</a>
        <a href="http://weibo.com/u/5340620666?refer_flag=1005055014_&is_hot=1" target="_blank">新浪微博</a>
    </p>
    <p class="in_friendly_link">
        友情链接：
        <a href="http://www.zdvc.com.cn/" target="_blank">中大创投</a>
        <a href="http://zdcxg.com/" target="_blank">中大创新谷</a>
        <a href="http://www.gdmv.cn/" target="_blank">广东医谷</a>
        <a href="http://www.paoding.cc/" target="_blank">庖丁技术</a>
        <a href="http://www.yunzhusalon.com/" target="_blank"v>云珠沙龙</a>
        <a href="http://www.haibie.com.cn/" target="_blank">海鳖众筹</a>
        <a href="http://www.chinacii.cn/" target="_blank">中创学院</a>
        <a href="http://www.smetalk.cn/" target="_blank">SME</a>
        <a href="http://www.g-sice.com/" target="_blank">校园直通车</a>
        <a href="https://mp.weixin.qq.com/mp/homepage?__biz=MzUyOTEyODg0Mw==&hid=1&sn=86dbe9087926c4502844c5f652c4529e&scene=18&uin=&key=&devicetype=Windows+7&version=6205051a&lang=zh_CN&ascene=7&winzoom=1" target="_blank">INNO-Talk</a>
    </p>
</div>
<div class="in_ICP">
    <a href="http://www.miitbeian.gov.cn/" target="_blank" style="color:#a9a9a9;"><?php echo session('word')[0]['value'] ?></a> <?php echo session('word')[1]['value'] ?>  地址：<?php echo session('word')[3]['value'] ?> <?php echo session('word')[2]['value'] ?>
</div>