<div class="in_footer">
    <p class="in_footer_link">
        <a href="">关于我们</a>
        <a href="">联系我们</a>
        <a href="">合作伙伴</a>
        <a href="">法律声明</a>
        <a href="">新浪微博</a>
    </p>
    <p class="in_friendly_link">
        友情链接：
        <a href="">中大创投</a>
        <a href="">中大创新谷</a>
        <a href="">广东医谷</a>
        <a href="">庖丁技术</a>
        <a href="">云珠沙龙</a>
        <a href="">海鳖众筹</a>
        <a href="">中创学院</a>
        <a href="">SME</a>
        <a href="">校园直通车</a>
        <a href="">INNO-Talk</a>
    </p>
</div>
<div class="in_ICP">
    粤ICP备14039480号 Copyright © 2014-2017  中创研究院 版权所有       技术支持：广东庖丁技术开发股份有限公司
</div>