<!--  search,nav begin-->
<div class="in_head_wrap">
    <div class="in_search clear">
        <div class="in_search_left fl clear">
            <div class="in_search_logo fl">
                <a href="__MODULE__/Index/index"><img src="{$Think.INDEX_IMAGES_URL}sy-logo.png" alt=""></a>
            </div>
            <p class="in_search_left_word fl">聚合创新，合作共赢</p>
        </div>
        <div class="in_search_right fr">
            <div class="clear in_inputDiv">
                <input class="fl in_input" type="text" placeholder="找分析，搜热门......">
                <div class="in_search_icon fr">
                    <img class="in_WX" src="{$Think.INDEX_IMAGES_URL}sy-sousuo-wdj.png" alt="">
                </div>
            </div>

            <div class="in_codeDiv">
                <img class="in_QRcode" src="{$Think.INDEX_IMAGES_URL}sy-erweima.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="nav_wrap">
    <div class="nav clear">
        <a href="__MODULE__/Index/index" class="fl">首页</a>
        <a href="__MODULE__/Article/article?acid=1" class="fl">产业方向</a>
        <a href="__MODULE__/Article/trade" class="fl">行业资讯</a>
        <a href="__MODULE__/About/introduce" class="fl">关于我们</a>
    </div>
</div>
<!--  search,nav end>-->