<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中创产业研究院</title>
    <link rel="shortcut icon" href="{$Think.INDEX_IMAGES_URL}favicon.ico">
    <meta name="description" content="中创产业研究院于2014年正式成立，由国内外著名高校支持，中大创新谷、中大创投和各知名产业集团联合筹措成立的新型科研组织。中创产业研究院以“研究产业，服务产业，发展产业”为理念，以构建新兴产业发展研究基地和智库为基本方向，为国家产业发展提供智库支持，促进产业投融资活动的高效开展。中创产业研究院自成立以来，已联合政府部门、高校院所、社会机构等举办多场产业论坛，并发表多篇行业研究报告。同时，还与各行业专业平台联合出版发行了《众筹之路》和《六众之路》等书籍。" />
    <meta name="keywords" content="中创产业研究院、研究产业、服务产业、发展产业"/>
    <link rel="stylesheet" href="{$Think.INDEX_CSS_URL}common.css">
    <link rel="stylesheet" href="{$Think.INDEX_CSS_URL}industryDetail.css">
</head>
<body style="background:#e9e9e9;padding-top:126px;">
<!--  search,nav begin-->
<include file="./Index/View/Common/header.html"/>
<!--  search,nav end>-->


<!--  main begin-->
<div class="inDet_main clear">
    <div class="inDet_main_left fl">
        <div class="inDet_main_left_head">
            <div class="clear">
                <img class="book_icon fl" src="{$Think.INDEX_IMAGES_URL}cyfx-icon-wenzhang.png" alt="">
                <span class="inDet_left_title fl">{$arrData['title']}</span>
            </div>
            <div class="head_shareDiv clear">
                <p class="fl">
                    行业资讯
                    <span class="mar_left">来源： {$arrData.from}</span>
                    <span class="mar_left">时间：{$arrData.time|strtotime|date='Y-m-d H:i',###} </span>
                    <span class="mar_left">阅读({$arrData.read_times})</span>
                </p>
                <div class="bdsharebuttonbox fr">
                    <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a class="qqzone" onclick="sharetoqqzone('分享到QQ空间')" title="分享到QQ空间"></a>
                    <a class="sina" onclick="sharetosina('分享到weibo')" title="分享到新浪微博"></a>
                </div>
            </div>

        </div>
        <div class="inDet_main_left_ct">
            {$arrData.content}
        </div>

    </div>

    <div class="inDet_main_right fr">
        <div class="in_art_option_r">
            <p class="option_r_tt">本类热门</p>
            <foreach name="arrGroom" item="vo">
                <a href="__MODULE__/Article/tradeDetail?arid={$vo.arid}">
                    <div class="option_r_ct clear">
                        <div class="ind_ct_pho_r fl">
                            <img src="{$Think.UPLOAD_URL}{$vo.thumbimg}" alt="">
                        </div>
                        <div class="ind_ct_main_r fr">
                            <p class="ind_main_tit_r">{$vo.title}</p>
                            <p class="ind_main_time_r">{$vo.time|strtotime|date='Y-m-d H:i',###} </p>
                            <p class="ind_main_read_r">阅读({$vo.read_times})</p>
                        </div>
                    </div>
                </a>
            </foreach>
        </div>
    </div>
</div>

<!--  main end>-->

<!-- footer begin -->
<include file="./Index/View/Common/footer.html"/>
<!-- footer end -->
</body>
<script src="{$Think.INDEX_JS_URL}jquery-3.0.0.min.js"></script>
<script src="{$Think.INDEX_JS_URL}common.js"></script>
<script>
    $(".nav a").eq(2).addClass('active');
    // share
    function sharetoqqzone (title) {
        var uu=window.location.href;
        var url=encodeURIComponent(uu);
        var shareqqzonestring='http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?summary='+title+'&url='+url;
        window.open(shareqqzonestring,'newwindow','height=800,width=800,top=100,left=100');
    }

    function sharetosina (title) {
        var uu=window.location.href;
        var url=encodeURIComponent(uu);
        var sharesinastring='http://v.t.sina.com.cn/share/share.php?title='+title+'&url='+url+'&content=utf-8&sourceUrl='+url;
        window.open(sharesinastring,'newwindow','height=400,width=400,top=100,left=100');
    }

    window._bd_share_config = {
        "common" : {
            "bdSnsKey" : {},
            "bdText" : "",
            "bdMini" : "2",
            "bdUrl" : window.location.href,
            "bdMiniList" : false,
            "bdPic" : "images/cyfx-icon-weixin.png",
            "bdStyle" : "0",
        },
        "share" : { "bdSize" : "22"}
    };
    with (document)
        0[(getElementsByTagName('head')[0] || body)
            .appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
            + ~(-new Date() / 36e5)];


</script>
</html>