<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中创产业研究院</title>
	<link rel="shortcut icon" href="{$Think.INDEX_IMAGES_URL}favicon.ico">
	<meta name="description" content="中创产业研究院于2014年正式成立，由国内外著名高校支持，中大创新谷、中大创投和各知名产业集团联合筹措成立的新型科研组织。中创产业研究院以“研究产业，服务产业，发展产业”为理念，以构建新兴产业发展研究基地和智库为基本方向，为国家产业发展提供智库支持，促进产业投融资活动的高效开展。中创产业研究院自成立以来，已联合政府部门、高校院所、社会机构等举办多场产业论坛，并发表多篇行业研究报告。同时，还与各行业专业平台联合出版发行了《众筹之路》和《六众之路》等书籍。" />
	<meta name="keywords" content="中创产业研究院、研究产业、服务产业、发展产业"/>
	<link rel="stylesheet" href="{$Think.INDEX_CSS_URL}swiper.css">
	<link rel="stylesheet" href="{$Think.INDEX_CSS_URL}common.css">
	<link rel="stylesheet" href="{$Think.INDEX_CSS_URL}index.css">
</head>
<body class="in_body">

	<img src="{$Think.INDEX_IMAGES_URL}logo.png" style="display:none;" alt="{$Think.INDEX_IMAGES_URL}logo.png">
	<!--  banner,nav begin-->
		<div class="in_head_wrap">
			<div class="in_search clear">
				<div class="in_search_left fl clear">
					<div class="in_search_logo fl">
						<img src="{$Think.INDEX_IMAGES_URL}sy-logo.png" alt="">
					</div>
					<p class="in_search_left_word fl">聚合创新，合作共赢</p>
				</div>
				<div class="in_search_right fr">
					<div class="clear in_inputDiv">
						<input class="fl in_input" type="text" placeholder="找分析，搜热门......">
						<div class="in_search_icon fr">
							<img class="in_WX" src="{$Think.INDEX_IMAGES_URL}sy-sousuo-wdj.png" alt="">
						</div>
					</div>

					<div class="in_codeDiv">
						<img class="in_QRcode" src="{$Think.INDEX_IMAGES_URL}sy-erweima.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="in_banner">
			<div class="swiper-container" id="swiper-container1">
			 	<div class="swiper-wrapper">
					<foreach name="arrBanner" item="vo" key="k">
			  	    <div class="swiper-slide"><img src="{$Think.UPLOAD_URL}{$vo.img}" alt=""></div>
					</foreach>
			 	</div>
			 	<div class="swiper-pagination"></div>
			</div>
		</div>
		 <!-- 首页特定导航栏 -->
		<div class="in_nav_wrap" style="display:block;">
			<div class="in_nav clear">
				<a href="__MODULE__/Index/index" class="in_nav_a fl">
					<img class="in_nav_icon" src="{$Think.INDEX_IMAGES_URL}home-icon-home.png" alt="">
					<p class="in_nav_l">首页</p>
				</a>
				<a href="__MODULE__/Article/article?acid=1" class="in_nav_a fl">
					<img class="in_nav_icon" src="{$Think.INDEX_IMAGES_URL}home-icon-orientation.png" alt="">
					<p class="in_nav_l">产业方向</p>
				</a>
				<a href="__MODULE__/Article/trade" class="in_nav_a fl">
					<img class="in_nav_icon" src="{$Think.INDEX_IMAGES_URL}home-icon-news.png" alt="">
					<p class="in_nav_l">行业资讯</p>
				</a>
				<a href="__MODULE__/About/introduce" class="in_nav_a fl">
					<img class="in_nav_icon" src="{$Think.INDEX_IMAGES_URL}home-icon-about-us.png" alt="">
					<p class="in_nav_l">关于我们</p>
				</a>
			</div>
		</div>
		<!-- 通用导航栏 -->
		<div class="nav_wrap" style="display:none;z-index:999;">
			<div class="nav clear">
				<a href="__MODULE__/Index/index" class="fl">首页</a>
				<a href="__MODULE__/Article/article?acid=1" class="fl">产业方向</a>
				<a href="__MODULE__/Article/trade" class="fl">行业资讯</a>
				<a href="__MODULE__/About/introduce" class="fl">关于我们</a>
			</div>
		</div>
	<!--  banner,nav end>-->

	<!--  news begin-->
		<p class="in_news_title">最新资讯</p>
		<div class="in_news clear">
			<for start="0" end="3">
				<div class="in_news_section fl" style="background:url({$Think.UPLOAD_URL}{$arrArticle[$i].indeximg})";>
					<div class="in_news_mask"></div>
					<p class="in_sec_tit">
						{$arrArticle[$i].title}
					</p>
					<p class="in_sec_intro">{$arrArticle[$i].summary}......</p>
					<if condition="$arrArticle[$i]['acid'] eq 6">
						<a href="__MODULE__/Article/tradeDetail?arid={$arrArticle[$i].arid}" class="know_more">了解更多</a>
						<else/>
						<a href="__MODULE__/Article/detail?arid={$arrArticle[$i].arid}" class="know_more">了解更多</a>
					</if>
				</div>
			</for>
		</div>
	<!--  news end-->

	<!--  article begin-->
		<div class="in_art_intro clear">
			<span class="fl">热文推荐</span>
			<a href="__MODULE__/Article/article?acid=1"><p class="fr">更多<img src="{$Think.INDEX_IMAGES_URL}sy-gd-wdj.png" alt=""></p></a>
		</div>

		<div class="in_art_content ">
			<for start="3" end="7">
				<if condition="$arrArticle[$i]['acid'] eq 6">
					<a href="__MODULE__/Article/tradeDetail?arid={$arrArticle[$i].arid}">
						<div class="in_art_option clear">
							<div class="in_ct_pho fl">
								<img src="{$Think.UPLOAD_URL}{$arrArticle[$i].thumbimg}" alt="" style="width: 320px;height: 230px;">
							</div>
							<div class="in_ct_main fr">
								<p class="in_main_tit">{$arrArticle[$i].title}</p>
								<p class="in_main_ct">{$arrArticle[$i].summary}......</p>
								<p class="in_main_time">{$arrArticle[$i].time|strtotime|date='Y-m-d H:i',###}<span class="in_main_read">阅读({$arrArticle[$i].read_times})</span></p>
							</div>
						</div>
					</a>
					<else/>
					<a href="__MODULE__/Article/detail?arid={$arrArticle[$i].arid}">
						<div class="in_art_option clear">
							<div class="in_ct_pho fl">
								<img src="{$Think.UPLOAD_URL}{$arrArticle[$i].thumbimg}" alt="" style="width: 320px;height: 230px;">
							</div>
							<div class="in_ct_main fr">
								<p class="in_main_tit">{$arrArticle[$i].title}</p>
								<p class="in_main_ct">{$arrArticle[$i].summary}......</p>
								<p class="in_main_time">{$arrArticle[$i].time|strtotime|date='Y-m-d H:i',###}<span class="in_main_read">阅读({$arrArticle[$i].read_times})</span></p>
							</div>
						</div>
					</a>
				</if>
			</for>
			<div id="more" style="display: none;">
				<for start="7" end="11">
					<if condition="$arrArticle[$i]['acid'] eq 6">
						<a href="__MODULE__/Article/tradeDetail?arid={$arrArticle[$i].arid}">
							<div class="in_art_option clear">
								<div class="in_ct_pho fl">
									<img src="{$Think.UPLOAD_URL}{$arrArticle[$i].thumbimg}" alt="" style="width: 320px;height: 230px;">
								</div>
								<div class="in_ct_main fr">
									<p class="in_main_tit">{$arrArticle[$i].title}</p>
									<p class="in_main_ct">{$arrArticle[$i].summary}......</p>
									<p class="in_main_time">{$arrArticle[$i].time|strtotime|date='Y-m-d H:i',###}<span class="in_main_read">阅读({$arrArticle[$i].read_times})</span></p>
								</div>
							</div>
						</a>
					<else/>
						<a href="__MODULE__/Article/detail?arid={$arrArticle[$i].arid}">
							<div class="in_art_option clear">
								<div class="in_ct_pho fl">
									<img src="{$Think.UPLOAD_URL}{$arrArticle[$i].thumbimg}" alt="" style="width: 320px;height: 230px;">
								</div>
								<div class="in_ct_main fr">
									<p class="in_main_tit">{$arrArticle[$i].title}</p>
									<p class="in_main_ct">{$arrArticle[$i].summary}......</p>
									<p class="in_main_time">{$arrArticle[$i].time|strtotime|date='Y-m-d H:i',###}<span class="in_main_read">阅读({$arrArticle[$i].read_times})</span></p>
								</div>
							</div>
						</a>
					</if>
				</for>
			</div>
		</div>
		<div class="in_loadingmore"></div>
		<a href="__MODULE__/Article/article?acid=1" class="in_more">查看更多</a>
	<!--  article end-->

	<!--  active begin-->
		<div class="in_active clear">
			<span class="fl">专题活动</span>
		</div>
		<div class="in_act_content clear">
			<div class="in_act_ct_pho fl">
				<div class="swiper-container" id="swiper-container2">
				    <div class="swiper-wrapper">
						<foreach name="arrActivity" item="vo" >
					    	<div class="swiper-slide"><img src="{$Think.UPLOAD_URL}{$vo.actimg}" alt=""></div>
						</foreach>
				    </div>
				    <!-- 自定义id，控制分页器属性 swiper.css  line 192 -->
				    <div class="swiper-pagination" id="swiper-pagination2"></div>
				</div>

			</div>
			<!-- 轮播控制tab -->
			<foreach name="arrActivity" item="vo" key="k">
				<if condition="$k eq 0">
					<div class="in_act_main fr in_main_active">
						<p class="in_act_tit">{$vo.title}</p>
						<div class="in_act_ct">
							<p class="in_ct_intro">{$vo.summary}......</p>
							<p class="in_act_intro">时间：{$vo.start_time}-{$vo.end_time}</p>
							<p class="in_act_intro">地点：{$vo.address}</p>
							<p>费用：{$vo.expense}</p>
						</div>
						<if condition="$vo.status eq 1">
						<a href="{$vo.link}" target="_blank" class="in_immediately">立即报名</a>
						<else/>
							<a href="javascript:" class="in_immediately">活动结束</a>
						</if>
					</div>
					<else/>
					<div class="in_act_main fr">
						<p class="in_act_tit">{$vo.title}</p>
						<div class="in_act_ct">
							<p class="in_ct_intro">{$vo.summary}......</p>
							<p class="in_act_intro">时间：{$vo.start_time}-{$vo.end_time}</p>
							<p class="in_act_intro">地点：{$vo.address}</p>
							<p>费用：{$vo.expense}</p>
						</div>
						<if condition="$vo.status eq 1">
							<a href="{$vo.link}" target="_blank" class="in_immediately">立即报名</a>
							<else/>
							<a href="javascript:" class="in_immediately">活动结束</a>
						</if>
					</div>
				</if>
			</foreach>
		</div>
	<!--  active end-->

	<!-- cooperative begin -->
		<div class="in_active">
			<span>合作机构</span>
		</div>
		<div class="swiper-container" id="swiper-container3">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide">
		    	<div class="in_cooperative clear">
					<foreach name="arrCooperation" item="vo" key="k">
						<in name="vo.category" value="1">
							<img src="{$Think.UPLOAD_URL}{$vo.logo}" alt="">
						</in>
					</foreach>
				</div>
			</div>
		    <div class="swiper-slide">
		    	<div class="in_cooperative clear">
					<foreach name="arrCooperation" item="vo" key="k">
						<in name="vo.category" value="2">
							<img src="{$Think.UPLOAD_URL}{$vo.logo}" alt="">
						</in>
					</foreach>
				</div>
		    </div>
		    <div class="swiper-slide">
    	    	<div class="in_cooperative clear">
					<foreach name="arrCooperation" item="vo" key="k">
						<in name="vo.category" value="3">
							<img src="{$Think.UPLOAD_URL}{$vo.logo}" alt="">
						</in>
					</foreach>
    			</div>
		    </div>
		  </div>
		  <div class="swiper-pagination"></div>
		</div>
	<!-- cooperative end -->

	<!-- footer begin -->
	<include file="./Index/View/Common/footer.html"/>
	<!-- footer end -->
</body>
<script src="{$Think.INDEX_JS_URL}jquery-3.0.0.min.js"></script>
<script src="{$Think.INDEX_JS_URL}common.js"></script>
<script src="{$Think.INDEX_JS_URL}swiper.js"></script>
<script>
	// 轮播
	var mySwiper1 = new Swiper('#swiper-container1', {
		pagination : '.swiper-pagination',
		paginationClickable :true,
		loop:true,
		autoplay: 3000
	})

	var mySwiper2 = new Swiper('#swiper-container2', {
		pagination : '.swiper-pagination',
		paginationClickable :true,
		autoplay: 2000,
		onSlideChangeStart: function(){
		     var index = mySwiper2.activeIndex;
		     $(".in_act_main").eq(index).addClass('in_main_active').siblings().removeClass('in_main_active');
		    }

	})

	var mySwiper3 = new Swiper('#swiper-container3', {
		pagination : '.swiper-pagination',
		paginationClickable :true,
		loop:true,
		autoplay: 3000
	})

	// 导航栏置顶后固定
	$(function () {
        var ie6 = /msie 6/i.test(navigator.userAgent),
           dv = $('.in_nav_wrap'), //大导航栏
           lv = $(".nav_wrap"),	   //小导航栏
           st;
        dv.attr('otop', dv.offset().top); //存储原来的距离顶部的距离
        // console.log(dv.attr('otop')); //387
        $(window).scroll(function () {
       		 //滚动条距离顶部位置
            st = Math.max(document.body.scrollTop || document.documentElement.scrollTop);
            // console.log(y);
            // console.log(st);
            console.log(parseInt(dv.attr('otop'))-st);
            // 搜索区域height == 80px;
            if (parseInt(dv.attr('otop'))-st <= 80) {
           		dv.hide();
           		lv.show();
                if (ie6) { //IE6不支持fixed属性，所以只能靠设置position为absolute和top实现此效果
                   dv.css({ position: 'absolute', top: st });
                   lv.css({ position: 'absolute', top: st });
                }
                // 判断条件||上两个导航栏，因为其中一个会隐藏
                else if(dv.css('position') != 'fixed' || lv.css('position') != 'fixed'){
                    // dv.css({ 'position': 'fixed', top: 80,zIndex:999});
                    lv.css({ 'position': 'fixed', top: 80,zIndex:999});
                    // 导航栏变成fixed定位后脱离文档,需要给内容加内边距填补空白处，否则到了临界点后内容区会往上跳
                   $('.in_news_title').css('padding-top','101px');
               }
            } else if (dv.css('position') != 'relative' || lv.css('position') != 'relative'){
           		lv.hide();
           	    dv.show();
                dv.css({ 'position': 'relative', top: 0, });
                // lv.css({ 'position': 'relative', top: 0, });
                $('.in_news_title').css('padding-top','');
            }
       });
   });
	// 加载更多
	$(".in_loadingmore").on("click",function(){
		$('#more').show();
        $(".in_loadingmore").hide();
        $(".in_more").css('display','block');
	})

</script>
</html>