<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中创产业研究院</title>
    <link rel="shortcut icon" href="{$Think.INDEX_IMAGES_URL}favicon.ico">
    <meta name="description" content="中创产业研究院于2014年正式成立，由国内外著名高校支持，中大创新谷、中大创投和各知名产业集团联合筹措成立的新型科研组织。中创产业研究院以“研究产业，服务产业，发展产业”为理念，以构建新兴产业发展研究基地和智库为基本方向，为国家产业发展提供智库支持，促进产业投融资活动的高效开展。中创产业研究院自成立以来，已联合政府部门、高校院所、社会机构等举办多场产业论坛，并发表多篇行业研究报告。同时，还与各行业专业平台联合出版发行了《众筹之路》和《六众之路》等书籍。" />
    <meta name="keywords" content="中创产业研究院、研究产业、服务产业、发展产业"/>
    <link rel="stylesheet" href="{$Think.INDEX_CSS_URL}common.css">
    <link rel="stylesheet" href="{$Think.INDEX_CSS_URL}aboutUs.css">
    <style>
        .about_main_ct p{
            width: 1200px;
        }
    </style>
</head>
<body style="padding-top:265px;">
<!--  search,nav begin-->
<include file="./Index/View/Common/header.html"/>
<!--  search,nav end>-->

<!-- banner start -->
<div class="about_us_navbox">
    <div class="about_us_nav">
        <a href="__MODULE__/About/introduce">
            <div class="aun_list " id="about_touwho">
                <div class="aun_omr_cn_mask" id="mask1"></div>
                <div class="aun_open_box">
                    <div class="aun_open_message">
                        <div class="aun_om_right">
                            <div class="aun_omr_cn">我院简介</div>
                        </div>
                        <div class="clear_both"></div>
                    </div>
                </div>
                <div class="aun_colse_box">我院简介</div>
            </div>
        </a>

        <a href="__MODULE__/About/team">
            <div class="aun_list select_aunlist" id="about_gd">
                <div class="aun_omr_cn_mask" id="mask2"  style="display: none;"></div>
                <div class="aun_open_box">
                    <div class="aun_open_message">
                        <div class="aun_om_right">
                            <div class="aun_omr_cn">团队成员</div>
                        </div>
                    </div>
                </div>
                <div class="aun_colse_box">团队成员</div>
            </div>
        </a>

        <a href="__MODULE__/About/develop?time={$arrDevelop.time}">
            <div class="aun_list" id="about_team">
                <div class="aun_omr_cn_mask" id="mask3"></div>
                <div class="aun_open_box">
                    <div class="aun_open_message">
                        <div class="aun_om_right">
                            <div class="aun_omr_cn">发展历程</div>
                        </div>
                    </div>
                </div>
                <div class="aun_colse_box">发展历程</div>
            </div>
        </a>
        <div class="clear_both"></div>
    </div>
</div>
<!-- banner end -->

<!-- main start -->
<div class="about_team">
    <div class="about_main_ct">
    {$arrData['value']}
    </div>
    <foreach name="arrMember" item="vo">
        <div class="about_team_member clear">
            <div class="about_team_member_pho fl">
                <img src="{$Think.UPLOAD_URL}{$vo.header}" alt="">
            </div>
            <div class="about_team_member_intro fr">
                <p class="about_name">{$vo.name}<span class="about_pst1">{$vo.job}</span></p>
                <p class="about_intro_ct">{$vo.summary}</p>

            </div>
        </div>
    </foreach>

    <p class="about_team_tit">顾问团队成员</p>
    <foreach name="arrAdvisor" item="vo" key="k">
        <div class="about_adviser_main">
            <div class="about_adviser_member clear">
                <div class="about_adviser_member_name fl">
                    {$vo.name}
                </div>
                <div class="about_adviser_member_pst fr">
                    {$vo.job}
                </div>
                <if condition="$k eq 0">
                    <img class="about_adviser_jt" src="{$Think.INDEX_IMAGES_URL}gywm-tdcy-icon-xs.png" alt="">
                    <else/>
                    <img class="about_adviser_jt" src="{$Think.INDEX_IMAGES_URL}gywm-tdcy-icon-xx.png" alt="">
                </if>
            </div>
            <if condition="$k eq 0">
            <div class="about_adviser_member_intro clear" style="display:block">
                <div class="about_adviser_intro_pho fl">
                    <img src="{$Think.UPLOAD_URL}{$vo.header}" alt="">
                </div>
                <div class="about_adviser_right fr">
                    {$vo.summary}
                </div>
            </div>
                <else/>
                <div class="about_adviser_member_intro clear">
                    <div class="about_adviser_intro_pho fl">
                        <img src="{$Think.UPLOAD_URL}{$vo.header}" alt="">
                    </div>
                    <div class="about_adviser_right fr">
                        {$vo.summary}
                    </div>
                </div>
            </if>
        </div>
    </foreach>
</div>
<!-- main end -->

<!-- footer begin -->
<include file="./Index/View/Common/footer.html"/>
<!-- footer end -->
</body>
<script src="{$Think.INDEX_JS_URL}jquery-3.0.0.min.js"></script>
<script src="{$Think.INDEX_JS_URL}common.js"></script>
<script>
    $(".nav a").eq(3).addClass('active');
    $("#about_touwho").hover(function () {
        $(".aun_list").removeClass("select_aunlist");
        $(this).addClass("select_aunlist");
        $("#mask1").hide();
        $("#mask2,#mask3").show();
    }, function () {
        $(".aun_list").removeClass("select_aunlist");
        $("#about_gd").addClass("select_aunlist");
        $("#mask2").hide();
        $("#mask1,#mask3").show();
    });

    $("#about_gd").hover(function () {
        $(".aun_list").removeClass("select_aunlist");
        $(this).addClass("select_aunlist");
        $("#mask2").hide();
        $("#mask1,#mask3").show();
    }, function () {
        $(".aun_list").removeClass("select_aunlist");
        $("#about_gd").addClass("select_aunlist");
        $("#mask2").hide();
        $("#mask1,#mask3").show();
    });

    $("#about_team").hover(function () {
        $(".aun_list").removeClass("select_aunlist");
        $(this).addClass("select_aunlist");
        $("#mask3").hide();
        $("#mask2,#mask1").show();
    }, function () {
        $(".aun_list").removeClass("select_aunlist");
        $("#about_gd").addClass("select_aunlist");
        $("#mask2").hide();
        $("#mask1,#mask3").show();
    });

    $('.about_adviser_main').on('click',function(){
        // 判断当前元素是否是展开状态
        if($(this).find(".about_adviser_member_intro").css('display')=="block"){
            $(this).find(".about_adviser_member_intro").slideUp(300);
            $(this).find(".about_adviser_jt").attr("src","/Public/Index/images/gywm-tdcy-icon-xx.png");
        }
        else{
            $(".about_adviser_member_intro").slideUp(300);
            $(".about_adviser_jt").attr("src","/Public/Index/images/gywm-tdcy-icon-xx.png");
            $(this).find(".about_adviser_member_intro").slideDown(300);
            $(this).find(".about_adviser_jt").attr("src","/Public/Index/images/gywm-tdcy-icon-xs.png");
        }
    })

</script>
</html>